/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.capitals-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  width: 85%;
}

@media screen and (min-width: 768px) {
  .capitals-card {
    max-width: 600px;
  }
}

.heading {
  color: #323f4b;
  font-family: roboto;
  font-size: 30px;
}

.capital-question-container {
  display: flex;
  align-items: center;
}

.capitals-drop-down {
  width: 200px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  padding-left: 10px;
  margin-right: 5px;
}

.question {
  color: #1e293b;
  font-weight: 500;
}

.country {
  font-family: roboto;
  font-weight: 500;
}
